<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title%} {% endblock %} </title>
</head>
<body class="bg-blue-300">
    <nav class="flex items-center justify-between px-5 py-6 bg-blue-700">
        <div>
            <a href="/" class="text-xl text-white ">MY_CHAT</a>
        </div>
        {% if request.user.is_authenticated %}

            <div class="flex items-center space-x-5">
                  <a href="" class ='hover:text-gray-200'>Join chat</a>

                    <form method="post" action="{% url 'core:logout' %}">
                        {% csrf_token %}
                    <button type="submit">Logout</button>
                    </form>
            </div>
`
        {% else %}
            <div class="flex items-center space-x-5">
                <form method="post" action="{% url 'core:login' %}">
                        {% csrf_token %}
                    <button type="submit">Login</button>
                </form>

                <a href="signup/" class="px-4 py-5 rounded-xl text-white bg-blue-500">Signup</a>
            </div>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>