{% extends "core/index.html" %}

{% block title %} Welcome {% endblock %}
{% block content %}
<div class="p-10 text-center">
        <h1 class=" text-3xl  lg;-10xl text-white">{{ room.name }}</h1>
</div>

<div class='lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl'>
        <div class=" example-message space-y-3" id ='example-message'>
                <div class="p-4 bg-gray-200">
                        <p class="font-semibold">Username </p>

                        <p> Sample message </p>
                </div>
        </div>
</div>
<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form method="post" action="." class="flex">
                {% csrf_token %}
                <input  type="text" name="content" class="flex-1 mr-3"  placeholder=" Input your message" id="message-input">
                <button class="px-5 py-3 rounded-xl text=white bg-blue-500 hover:bg-blue-700" id="message-submit"> Submit</button>

        </form>
</div>
 {{ room_name|json_script:"room-name" }}
`{{ request.user.username|json_script:"username"}}

    {% block scripts %}
     {# csrf_token #}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const userName = JSON.parse(document.getElementById('username').textContent);
            console.log("Username",userName)
                const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'

            );
            chatSocket.onopen = function() {
            console.log("Connection is established", roomName)
            }
            chatSocket.onmessage = function(e) {
                console.log(e)
                const data = JSON.parse(e.data);
                console.log("Data", data)
                if (data.message){
                    let html = "<div class='m-4 bg-gray-200'>"
                    html +=  "<p class='font-semibold'>"  + userName + "</p>"
                    html +=  "<p>"+ data.message + "</p> </div>";
                document.querySelector("#example-message").innerHTML += html;

                } else {
                alert("Message is empty");
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly', e.error);
            };

            document.querySelector('#message-input').focus();
            document.querySelector('#message-input').onkeyup = function(e) {

                if (e.key === 'Enter') {  // enter, return
                    document.querySelector('#message-submit').click();
                }
            };
            const messageInputDom = document.querySelector('#message-input');
            console.log("messageInputDom", messageInputDom)
            document.querySelector('#message-submit').onclick = function(e) {
                e.preventDefault()
                const message = messageInputDom.value;
                console.log("MessageDom",message)
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username':userName,

                }));
                console.log("Message sent");
                messageInputDom.value = '';
            };
        </script>
    {% endblock %}
{% endblock content %}

