{% extends "core/index.html" %}
{% load crispy_forms_tags %} [3](https://studygyaan.com/django/how-to-use-bootstrap-forms-with-django-crispy-forms)[4](https://ordinarycoders.com/blog/article/render-forms-with-django-crispy-forms)

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>

{% if profile.avatar %}
    <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="{{ profile.avatar.url }}"  alt="Avatar">
    <p class="flex items-left justify-between px-5 py-6">Username: {{ request.user.username }}</p>
{% else %}
    <p>Username: {{ request.user.username }}</p>
    <p>No avatar available.</p>

{% endif %}
<div>
	<div>
         <a href="{% url 'user_profile:profile_edit' request.user.pk %}" class='hover:text-gray-200'>Edit</a>
    </div>
</div>

{% endblock %}